<div *ngIf="info; else loading">
  <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>flag</mat-icon>
        </div>
        <mat-card-title>{{ info.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Code: </strong>{{ info.code }}</p>
        <p><strong>Isocode: </strong>{{ info.iso2code }}</p>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
