.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon {
  margin-right: 10px;
}

.menu {
  transition: background-color 0.4s;
}

.menu:hover {
  background: #673ab7;
  color: white;
}

.logo {
  height: 45px;
}
